#map { 
 width: 750px;
 height: 800px;
 margin: auto;
}

#userData {
 /*width: 700px;*/
 height: 350px;
 padding-top: 5px;
}

#tabContainer {
 padding: 0px;
 height: 1500px;
 width: 1650px;
}

#myData {
  text-align: center;
}

.progressImage {
 padding-top: 60px;
 display: block;
    margin-left: auto;
    margin-right: auto; 
}

.verdict {
 text-align: center;
 font-family: Monospace;
 font-weight: bold;
}

#yourPie {
  background-image: url("pokerface.png");
  background-repeat: no-repeat;
  background-position: center center;
}
